* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

ul {
    list-style: none
}

a {
    text-decoration: none;
}

/* Navigation Bar */
.navbar {
    /* 
    display: flex;
    align-items: center;
    background-color: rgba(17, 17, 17, 0.85);
    */
    background-color: rgba(17, 17, 17, 0.85);
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    min-width: 1300px;
    height: 66px;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

nav {
    flex: 1;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
}

nav a {
    color: white;
}

nav a:hover {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}

.icons {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 210px;
    height: 100%;
    white-space: nowrap;
    font-size: 14px;
}

.icons .login-btn {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 0;
    outline: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    color: #ccc;
    cursor: pointer;
}

.icons .login-btn img {
    margin-left: 18px;
    width: 27px;
    height: 27px;
    opacity: 0.6;
}

.hero .poster-download {
    top: 0;
    margin-top: 20vh;
    left: 50%;
    display: flex;
    justify-content: center;
}

.hero .poster-download li {
    flex-shrink: 0;
    width: 188px;
    height: 62px;
    margin-right: 15px;
    opacity: 0.8;
}

.hero .poster-download li a {
    width: 100%;
    height: 100%;
}

/* Hero Image */
.hero {
    background-image: url("https://c.tenor.com/ylat5oMfGGEAAAAd/genshin-impact-mihoyo.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 770px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 40%;
    min-width: 300px
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #fff;
    text-shadow: 0 0 10px rgb(114 71 21 / 68%), 0 0 10px rgb(114 71 21 / 68%);
}

.col-2 p {
    font-size: 30px;
    line-height: 30px;
    margin: 25px 0;
    color: #fff;
    text-shadow: 0 0 10px rgb(114 71 21 / 68%), 0 0 10px rgb(114 71 21 / 68%);
}

.btn {
    display: inline-block;
    background: gold;
    color: darkgoldenrod;
    padding: 15px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #fff;
    text-shadow: 0 0 10px rgb(114 71 21 / 68%), 0 0 10px rgb(114 71 21 / 68%);
}

.hero .row {
    padding-top: 150px;
}

.news h3 {
    color: white;
    text-align: center;
    padding-top: 45px;
    font-size: 40px
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.small-container h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 40px;
}

.featured-products {
    background-image: url(https://static0.gamerantimages.com/wordpress/wp-content/uploads/2021/09/genshin-anniversary-artt.jpeg);
    margin-top: -70px;
    background-size: cover;
    background-repeat: no-repeat;
}

col-4 {
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.genesis {
    height: 200px;
    width: auto;
    border: solid #fff 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 10px 0;
}

.price {
    color: black;
    border: solid #fff 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: gold;
    text-align: center;
    margin-top: -14px;
    padding: 5px 0;
}

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 60px;
}

.footer p {
    color: #8a8a8a
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.menu {
    width: 28px;
    margin-left: 20px;
    color: #fff;
    display: none;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 65px;
        left: 0;
        background: rgba(17, 17, 17, 0.85);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5;
        box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
        display: block;
        padding: 0 10px;
    }

    .menu {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }

    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }

    .price {
        width: 61.5%;
        margin-left: 63px;
    }
}

@media only screen and (max-width: 400px) {
    .price {
        width: 61.5%;
        margin-left: 63px;
    }
}

@media screen and (max-width: 1000px) {
    .hero .poster-download {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -5px;
        align-items: start;
    }

    .hero .poster-download li {
        flex-shrink: 0;
        width: 140px;
        height: 65px;
        margin-right: 15px;
        opacity: 0.8;
    }

    .poster-download img {
        height: 50px;
    }
}